{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}

{% include "header.html" %}

  <div class="form-container">

    <form method="POST" action="{{url_for('login')}}">
      <h2>Login</h2>
        {{form.hidden_tag()}}
        {{ wtf.form_field(form.email) }}
        {{ wtf.form_field(form.password) }}
      {{ wtf.form_field(form.submit, class="btn btn-primary") }}
    </form>

    <div>
    <a href="{{ url_for('register') }}">Register here if you don't have credentials</a>
  </div>

  </div>
{% include "footer.html" %}
{% endblock %}