{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}

{% include "header.html" %}


  <div class="form-container">

    <form method="POST" action="{{url_for('register')}}">
      <h2>Register Form</h2>
        {{form.hidden_tag()}}
        {{ wtf.form_field(form.name) }}
        {{ wtf.form_field(form.email) }}
        {{ wtf.form_field(form.password) }}
        {{ wtf.form_field(form.confirm) }}
      {{ wtf.form_field(form.submit, class="btn btn-primary") }}
    </form>
    <div>
      <a href="{{ url_for('login') }}">Login here if you already registered</a>
      <span>(All registrations are deleted)</span>
      </div>
  </div>


{% include "footer.html" %}
{% endblock %}