body, h1 {
  font-family: "Raleway", sans-serif
}

body, html {
  height: 100%
}

.bgimg {
  background-image: url('../images/forestbridge.jpg');
  min-height: 100%;
  background-position: center;
  background-size: cover;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.form-container {
  margin: auto;
  width: 60%;
  padding: 10px;
}

/* Style the input container */
.input-container {
  display: flex;
  width: 100%;
  margin-bottom: 15px;
}

/* Style the form icons */
.icon {
  padding: 10px;
  background: dodgerblue;
  color: white;
  min-width: 50px;
  text-align: center;
}

/* Style the input fields */
.input-field {
  width: 100%;
  padding: 10px;
  outline: none;
}

.input-field:focus {
  border: 2px solid dodgerblue;
}

/* Set a style for the submit button */
.btn {
  background-color: dodgerblue;
  color: white;
  padding: 15px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.btn:hover {
  opacity: 1;
}
